doctype html
html(lang="en")
  head
    title=pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href=cssCommon, rel="stylesheet")
  body
    #app
    script(src=jsVendor)
    script(src=jsApp)

    